<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
		<title>Edit Pokemon</title>
	</head>
	<h1>Edit Pokemon!</h1>
	<body>
		<form action="/pokemon/<%=index%>?_method=PUT" method="POST">
			<img src="<%=pokemons.img%>">
            Name:
			<input
				type="text"
				name="name"
				value="<%=pokemons.name%>"
				Placeholder="Name"
			/><br />
			HP stat:
			<input
				type="text"
				name="stats"
				value="<%=pokemons.stats.hp%>"
				placeholder="HP"
			/><br />
			Attack stat:
			<input
				type="text"
				name="stats"
				value="<%=pokemons.stats.attack%>"
				placeholder="Attack"
			/><br />
			Defense stat:
			<input
				type="text"
				name="stats"
				value="<%=pokemons.stats.defense%>"
				placeholder="Defense"
			/><br />
			SpAttack stat:
			<input
				type="text"
				name="stats"
				value="<%=pokemons.stats.spattack%>"
				placeholder="Special Attack"
			/><br />
			SpDefense stat:
			<input
				type="text"
				name="stats"
				value="<%=pokemons.stats.spdefense%>"
				placeholder="Special Defense"
			/><br />
			Speed stat:
			<input
				type="text"
				name="stats"
				value="<%=pokemons.stats.speed%>"
				placeholder="Speed"
			/><br />
			Type:
			<input
				type="text"
				name="type"
				value="<%=pokemons.type%>"
				placeholder="Type"
			/><br />
			<input type="submit" name="" value="Edit Pokemon" />
		</form>
	</body>
</html>
