<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
	<link href="http://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">
		<title>PokeDex</title>
	</head>
	<body>
		<h1>Pokedex</h1>
		<div class="container">
		<a href="/pokemon/new">Create a New Pokemon</a>
		<table>
			<tr>
			<% for(let i = 0; i < allPokemon.length - 135; i++) { %>
			<td>
				<div><%=allPokemon[i].name%></div>
                <a href="/pokemon/<%=i%>"><img src="<%= allPokemon[i].img %>"></a>
                <form action ="/pokemon/<%=i %>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE" />
                <button><a href="/pokemon/<%=i %>/edit">Edit Pokemon</a></button>
				</td>
				</tr>
			<% } %>
		</table>
		</div>
	</body>
</html>

<style>
	.container {
		display: grid;
	}
	body {
		font-family: 'Pokemon Solid', sans-serif;
		background-image: url("https://imgur.com/UZKEjzG.jpg");
		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
	}
	@import url('http://fonts.cdnfonts.com/css/pokemon-solid');
	ul {
		list-style-type: none;
	}
	img {
        border-style: solid;
        border-radius: 15px;
        border-width: 4px;
		width: 100px;
    }
	table {
		display: flex;
	}
</style>