<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
		/>
		<link href="http://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet" />
		<title>Pokemons</title>
	</head>
	<h1><%= pokemons.name%></h1>
	<img src="<%=pokemons.img%>" />
	<body>
		<ul>
			Type
			<li><%=pokemons.type%></li>
		</ul>
        <u>Stats:</u>
		<ul>
			<li>HP: <%=pokemons.stats.hp%></li>
			<li>Attack: <%=pokemons.stats.attack%></li>
			<li>Defense: <%=pokemons.stats.defense%></li>
			<li>SpAttack: <%=pokemons.stats.spattack%></li>
			<li>SpDefense: <%=pokemons.stats.spdefense%></li>
			<li>Speed: <%=pokemons.stats.speed%></li>
		</ul>
		<a href="/pokemon/">Back to Pokedex</a>
	</body>
</html>
<style>
	.container {
		display: grid;
	}
	body {
		font-family: 'Pokemon Solid', sans-serif;
		background-image: url("https://imgur.com/UZKEjzG.jpg");
		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
	}
	li {
		list-style-type: none;
	}
    img {
        border-style: solid;
        border-radius: 15px;
        border-width: 4px;
    }
	@import url("http://fonts.cdnfonts.com/css/pokemon-solid");
</style>
